{
    "Jump": {
        "isMouseInput": false,
        "input": "W"
    },
    "Shoot": {
        "isMouseInput": false,
        "input": "Space"
    },
    "Dash": {
        "isMouseInput": false,
        "input": "M"
    },
    "WeaponNext": {
        "isMouseInput": false,
        "input": "E"
    },
    "WeaponPrev": {
        "isMouseInput": false,
        "input": "Q"
    },
    "MoveLeft": {
        "isMouseInput": false,
        "input": "A"
    },
    "MoveRight": {
        "isMouseInput": false,
        "input": "D"
    },
    "ExitArmor": {
        "isMouseInput": false,
        "input": "N"
    },
    "Pause": {
        "isMouseInput": false,
        "input": "Escape"
    }
}